<div class="container-fluid tab-container">
    <div class="row">
        <div class="col-2 tab-section mx-auto my-2" routerLink="/">
            <i class="fa fa-home active"></i>
            <p>Home</p>
        </div>
        <div class="col-2 tab-section mx-auto my-2" routerLink="/tv">
            <i class="fa fa-television"></i>
            <p>TV</p>
        </div>
        <div class="col-3 mx-auto my-2" routerLink="/">
            <img src="https://www.hotstar.com/assets/b50f06bb7daf1f895483b259df7c5912.svg" class="w-100" alt="">
        </div>
        <div class="col-2 tab-section mx-auto my-2" routerLink="/movies">
            <i class="fa fa-film"></i>
            <p>Movies</p>
        </div>
        <div class="col-2 tab-section mx-auto my-2" routerLink="/profile">
            <i class="fa fa-user"></i>
            <p>Profile</p>
        </div>
    </div>
</div>