<app-header></app-header>
<br><br><br><br>

<div class="container-fluid">
    <div class="row px-2">
        <div class="col-12 p-0 px-1">
            <h2 class="seaction-heading" *ngIf="mediaType=='trending'">Latest & Tranding</h2>
            <h2 class="seaction-heading" *ngIf="mediaType=='mostRatedMovie'">Most Rated Movie</h2>
            <h2 class="seaction-heading" *ngIf="mediaType=='mostReatedTv'">Most Reated Tv</h2>
            <h2 class="seaction-heading" *ngIf="mediaType=='upcommingMovies'">Upcomming Movies</h2>
            <h2 class="seaction-heading" *ngIf="mediaType=='popularTv'">Popular Tv</h2>
            <h2 class="seaction-heading" *ngIf="mediaType=='popularMovies'">Popular Movies</h2>
            <h2 class="seaction-heading" *ngIf="mediaType=='moreLikeThis'">More Like This</h2>
        </div>
        <ng-container
            *ngIf="mediaType=='trending' || mediaType=='mostRatedMovie' || mediaType=='upcommingMovies' || mediaType=='popularMovies' || moreLikeType=='movie'">
            <div class="col-md-3 col-6 mx-auto my-1 p-0 px-1 cursor-pointer" *ngFor="let data of allData"
                routerLink="/detail/movie/{{data.id}}">
                <img src="{{imgUrl}}{{data.backdrop_path}}" (load)="data.loader = true" [hidden]="!data.loader" class="w-100" style="border-radius: 5px;" alt="">
                <ng-container *ngIf="!data.loader">
                    <app-skeleton [skeleton]="'single-media'"></app-skeleton>
                </ng-container>
            </div>
        </ng-container>
        <ng-container *ngIf="mediaType=='mostReatedTv' || mediaType=='popularTv' || moreLikeType=='tv'">
            <div class="col-6 mx-auto my-1 p-0 px-1" *ngFor="let data of allData"
                routerLink="/detail/tv/{{data.id}}">
                <img src="{{imgUrl}}{{data.backdrop_path}}" (load)="data.loader = true" [hidden]="!data.loader" class="w-100" style="border-radius: 5px;" alt="">
                <ng-container *ngIf="!data.loader">
                    <app-skeleton [skeleton]="'single-media'"></app-skeleton>
                </ng-container>
            </div>
        </ng-container>
    </div>
</div>
<ng-container *ngIf="allData.length==0">
    <div class="px-3">
        <app-skeleton [skeleton]="'all-media'"></app-skeleton>
    </div>
</ng-container>

<div infiniteScroll [infiniteScrollDisabled]="isCalled" [infiniteScrollDistance]="1" [immediateCheck]="true" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"></div>

<br><br><br>
<app-tab></app-tab>