<ng-container *ngIf="skeleton == 'poster'">
    <div class="items px-2">
        <div class="item">
            <div class="p-skeleton">
                <div class="p-skeleton__body">
                    <div class="p-skeleton__body--r-poster"></div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="p-skeleton">
                <div class="p-skeleton__body">
                    <div class="p-skeleton__body--r-poster"></div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="p-skeleton">
                <div class="p-skeleton__body">
                    <div class="p-skeleton__body--r-poster"></div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="p-skeleton">
                <div class="p-skeleton__body">
                    <div class="p-skeleton__body--r-poster"></div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="p-skeleton">
                <div class="p-skeleton__body">
                    <div class="p-skeleton__body--r-poster"></div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="skeleton == 'single-poster'">
    <div class="p-skeleton">
        <div class="p-skeleton__body">
            <div class="p-skeleton__body--r-poster"></div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="skeleton == 'banner'">
    <div class="p-skeleton">
        <div class="p-skeleton__body">
            <div class="p-skeleton__body--r-banner"></div>
        </div>
    </div>
</ng-container>