<app-header [isHome]="'yes'"></app-header>
<br><br>

<ng-container>
    <app-slider [allData]="nowPlayingMovies"></app-slider>
</ng-container>

<div class="d-block d-lg-none d-md-none">
    <swiper [slidesPerView]="1" [slidesPerGroup]="1" [loop]="true" [autoplay]="true" [spaceBetween]="30"
        [pagination]="false">
        <ng-container *ngFor="let data of mostRatedMovie.results;">
            <ng-template swiperSlide>
                <img src="{{imgUrl}}{{data?.backdrop_path}}" (load)="data.loaded = true" [hidden]="!data.loaded"
                    routerLink="/detail/movie/{{data.id}}" class="w-100" alt="">
                <ng-container *ngIf="!data.loaded">
                    <app-skeleton [skeleton]="'banner'"></app-skeleton>
                </ng-container>
            </ng-template>
        </ng-container>
    </swiper>
</div>
<ng-container *ngIf="mostRatedMovie?.length==0">
    <app-skeleton [skeleton]="'banner'"></app-skeleton>
</ng-container>

<div class="container-fluid my-5" *ngIf="authService.getUid()">
    <div class="row py-0">
        <div class="col-8 text-left">
            <p class="seaction-heading m-0">
                Popular Movies
            </p>
        </div>
        <div class="col-4 text-right">
            <a class="seaction-link" routerLink="/media/popularMovies">MORE</a>
        </div>
    </div>
    <div class="d-block d-lg-none d-md-none">
        <swiper [slidesPerView]="3" [navigation]="true" [scrollbar]="{ draggable: true }" [spaceBetween]="5"
            [virtual]="true">
            <ng-container *ngFor="let data of popularMovies.results; index as i">
                <ng-template swiperSlide>
                    <div class="listing-item-style" routerLink="detail/movie/{{data.id}}">
                        <div class="overlay">
                            <div class="hover"><i class="fa fa-play"></i>&nbsp;&nbsp;PLAY NOW</div>
                        </div>
                        <img src="{{imgUrl}}{{data.poster_path}}" (load)="data.loaded = true" [hidden]="!data.loaded">
                        <h6>{{ data?.original_name ? data?.original_name : data?.original_title}}</h6>
                        <p class="rate"><i class="fa fa-star" style="color:#dcf836">
                                star</i><span>{{data?.vote_average}}</span>/10</p>
                        <p class="year"><span>{{data?.first_air_date | date: 'yyyy'}}</span>
                            <ng-container *ngIf="!data.loaded">
                                <app-skeleton [skeleton]="'single-poster'"></app-skeleton>
                            </ng-container>
                    </div>
                </ng-template>
            </ng-container>
        </swiper>
    </div>
    <div class="d-none d-lg-block d-md-block">
        <swiper [slidesPerView]="8" [navigation]="true" [scrollbar]="{ draggable: true }" [spaceBetween]="5"
            [virtual]="true">
            <ng-container *ngFor="let data of popularMovies.results; index as i">
                <ng-template swiperSlide>
                    <div class="listing-item-style" routerLink="detail/movie/{{data.id}}">
                        <div class="overlay">
                            <div class="hover"><i class="fa fa-play"></i>&nbsp;&nbsp;PLAY NOW</div>
                        </div>
                        <img src="{{imgUrl}}{{data.poster_path}}" (load)="data.loaded = true" [hidden]="!data.loaded">
                        <h6>{{ data?.original_name ? data?.original_name : data?.original_title}}</h6>
                        <p class="rate"><i class="fa fa-star" style="color:#dcf836">
                                star</i><span>{{data?.vote_average}}</span>/10</p>
                        <p class="year"><span>{{data?.first_air_date | date: 'yyyy'}}</span>
                            <ng-container *ngIf="!data.loaded">
                                <app-skeleton [skeleton]="'single-poster'"></app-skeleton>
                            </ng-container>
                    </div>
                </ng-template>
            </ng-container>
        </swiper>
    </div>
    <!-- <div class="row">
         <div class="items px-2">
            <div class="item" *ngFor="let data of popularMovies.results" routerLink="detail/movie/{{data.id}}">
                <div class="listing-item-style">
                    <div class="overlay">
                        <div class="hover"><i class="fa fa-play"></i>&nbsp;&nbsp;PLAY NOW</div>
                    </div>
                    <img src="{{imgUrl}}{{data.poster_path}}" (load)="data.loaded = true" [hidden]="!data.loaded">
                    <h6>{{ data?.original_name ? data?.original_name : data?.original_title}}</h6>
                    <p class="rate"><i class="fa fa-star" style="color:#dcf836">
                            star</i><span>{{data?.vote_average}}</span>/10</p>
                    <p class="year"><span>{{data?.first_air_date | date: 'yyyy'}}</span>
                        <ng-container *ngIf="!data.loaded">
                            <app-skeleton [skeleton]="'single-poster'"></app-skeleton>
                        </ng-container>
                </div>
            </div>
            <ng-container *ngIf="popularMovies.length==0">
                <app-skeleton [skeleton]="'poster'"></app-skeleton>
            </ng-container>
        </div> 
    </div>-->
</div>

<div class="container-fluid my-5">
    <div class="row py-0">
        <div class="col-8 text-left">
            <p class="seaction-heading m-0">
                Latests & Trending
            </p>
        </div>
        <div class="col-4 text-right">
            <a class="seaction-link" routerLink="/media/trending">MORE</a>
        </div>
    </div>
    <div class="d-block d-lg-none d-md-none">
        <swiper [slidesPerView]="3" [navigation]="true" [scrollbar]="{ draggable: true }" [spaceBetween]="5"
            [virtual]="true">
            <ng-container *ngFor="let data of trending.results; index as i">
                <ng-template swiperSlide>
                    <div class="listing-item-style" routerLink="/detail/movie/{{data.id}}">
                        <div class="overlay">
                            <div class="hover"><i class="fa fa-play"></i>&nbsp;&nbsp;PLAY NOW</div>
                        </div>
                        <img src="{{imgUrl}}{{data.poster_path}}" (load)="data.loaded = true" [hidden]="!data.loaded">
                        <h6>{{ data?.original_name ? data?.original_name : data?.original_title}}</h6>
                        <p class="rate"><i class="fa fa-star" style="color:#dcf836">
                                star</i><span>{{data?.vote_average}}</span>/10</p>
                        <p class="year"><span>{{data?.first_air_date | date: 'yyyy'}}</span>
                            <ng-container *ngIf="!data.loaded">
                                <app-skeleton [skeleton]="'single-poster'"></app-skeleton>
                            </ng-container>
                    </div>
                </ng-template>
            </ng-container>
        </swiper>
    </div>
    <div class="d-none d-lg-block d-md-block">
        <swiper [slidesPerView]="8" [navigation]="true" [scrollbar]="{ draggable: true }" [spaceBetween]="5"
            [virtual]="true">
            <ng-container *ngFor="let data of trending.results; index as i">
                <ng-template swiperSlide>
                    <div class="listing-item-style" routerLink="/detail/movie/{{data.id}}">
                        <div class="overlay">
                            <div class="hover"><i class="fa fa-play"></i>&nbsp;&nbsp;PLAY NOW</div>
                        </div>
                        <img src="{{imgUrl}}{{data.poster_path}}" (load)="data.loaded = true" [hidden]="!data.loaded">
                        <h6>{{ data?.original_name ? data?.original_name : data?.original_title}}</h6>
                        <p class="rate"><i class="fa fa-star" style="color:#dcf836">
                                star</i><span>{{data?.vote_average}}</span>/10</p>
                        <p class="year"><span>{{data?.first_air_date | date: 'yyyy'}}</span>
                            <ng-container *ngIf="!data.loaded">
                                <app-skeleton [skeleton]="'single-poster'"></app-skeleton>
                            </ng-container>
                    </div>
                </ng-template>
            </ng-container>
        </swiper>
    </div>
</div>

<div class="container-fluid my-5">
    <div class="row py-0">
        <div class="col-8 text-left">
            <p class="seaction-heading m-0">
                Upcomming Movies
            </p>
        </div>
        <div class="col-4 text-right">
            <a class="seaction-link" routerLink="/media/upcommingMovies">MORE</a>
        </div>
    </div>
    <!-- <div class="row">
        <div class="items px-2">
            <div class="item" *ngFor="let upcomming of UpcommingMovies.results"
                routerLink="detail/mostRatedMovie/{{upcomming.id}}">
                <div class="listing-item-style">
                    <div class="overlay">
                        <div class="hover"><i class="fa fa-play"></i>&nbsp;&nbsp;PLAY NOW</div>
                    </div>
                    <img src="{{imgUrl}}{{upcomming.poster_path}}" (load)="upcomming.loaded = true"
                        [hidden]="!upcomming.loaded">
                    <h6>{{ upcomming?.original_name ? upcomming?.original_name : upcomming?.original_title}}</h6>
                    <p class="rate"><i class="fa fa-star" style="color:#dcf836">
                            star</i><span>{{upcomming?.vote_average}}</span>/10</p>
                    <p class="year"><span>{{upcomming?.first_air_date | date: 'yyyy'}}</span>
                        <ng-container *ngIf="!upcomming.loaded">
                            <app-skeleton [skeleton]="'single-poster'"></app-skeleton>
                        </ng-container>
                </div>
            </div>
        </div>
        <ng-container *ngIf="UpcommingMovies.length==0">
            <app-skeleton [skeleton]="'poster'"></app-skeleton>
        </ng-container>
    </div> -->
    <div class="d-block d-lg-none d-md-none">
        <swiper [slidesPerView]="3" [navigation]="true" [scrollbar]="{ draggable: true }" [spaceBetween]="5"
            [virtual]="true">
            <ng-container *ngFor="let data of UpcommingMovies.results; index as i">
                <ng-template swiperSlide>
                    <div class="listing-item-style" routerLink="/detail/movie/{{data.id}}">
                        <div class="overlay">
                            <div class="hover"><i class="fa fa-play"></i>&nbsp;&nbsp;PLAY NOW</div>
                        </div>
                        <img src="{{imgUrl}}{{data.poster_path}}" (load)="data.loaded = true" [hidden]="!data.loaded">
                        <h6>{{ data?.original_name ? data?.original_name : data?.original_title}}</h6>
                        <p class="rate"><i class="fa fa-star" style="color:#dcf836">
                                star</i><span>{{data?.vote_average}}</span>/10</p>
                        <p class="year"><span>{{data?.first_air_date | date: 'yyyy'}}</span>
                            <ng-container *ngIf="!data.loaded">
                                <app-skeleton [skeleton]="'single-poster'"></app-skeleton>
                            </ng-container>
                    </div>
                </ng-template>
            </ng-container>
        </swiper>
    </div>
    <div class="d-none d-lg-block d-md-block">
        <swiper [slidesPerView]="8" [navigation]="true" [scrollbar]="{ draggable: true }" [spaceBetween]="5"
            [virtual]="true">
            <ng-container *ngFor="let data of UpcommingMovies.results; index as i">
                <ng-template swiperSlide>
                    <div class="listing-item-style" routerLink="/detail/movie/{{data.id}}">
                        <div class="overlay">
                            <div class="hover"><i class="fa fa-play"></i>&nbsp;&nbsp;PLAY NOW</div>
                        </div>
                        <img src="{{imgUrl}}{{data.poster_path}}" (load)="data.loaded = true" [hidden]="!data.loaded">
                        <h6>{{ data?.original_name ? data?.original_name : data?.original_title}}</h6>
                        <p class="rate"><i class="fa fa-star" style="color:#dcf836">
                                star</i><span>{{data?.vote_average}}</span>/10</p>
                        <p class="year"><span>{{data?.first_air_date | date: 'yyyy'}}</span>
                            <ng-container *ngIf="!data.loaded">
                                <app-skeleton [skeleton]="'single-poster'"></app-skeleton>
                            </ng-container>
                    </div>
                </ng-template>
            </ng-container>
        </swiper>
    </div>
</div>

<div class="container-fluid my-5" *ngIf="authService.getUid()">
    <div class="row py-0">
        <div class="col-8 text-left">
            <p class="seaction-heading m-0">
                Most Rated Movies
            </p>
        </div>
        <div class="col-4 text-right">
            <a class="seaction-link" routerLink="/media/mostRatedMovie">MORE</a>
        </div>
    </div>
    <!-- <div class="row">
        <div class="items px-2">
            <div class="item" *ngFor="let rated of mostRatedMovie.results"
                routerLink="detail/mostRatedMovie/{{rated.id}}">
                <div class="listing-item-style">
                    <div class="overlay">
                        <div class="hover"><i class="fa fa-play"></i>&nbsp;&nbsp;PLAY NOW</div>
                    </div>
                    <img src="{{imgUrl}}{{rated.poster_path}}" (load)="rated.loaded = true" [hidden]="!rated.loaded">
                    <h6>{{ rated?.original_name ? rated?.original_name : rated?.original_title}}</h6>
                    <p class="rate"><i class="fa fa-star" style="color:#dcf836">
                            star</i><span>{{rated?.vote_average}}</span>/10</p>
                    <p class="year"><span>{{rated?.first_air_date | date: 'yyyy'}}</span>
                        <ng-container *ngIf="!rated.loaded">
                            <app-skeleton [skeleton]="'single-poster'"></app-skeleton>
                        </ng-container>
                </div>
            </div>
        </div>
        <ng-container *ngIf="mostRatedMovie.length==0">
            <app-skeleton [skeleton]="'poster'"></app-skeleton>
        </ng-container>
    </div> -->
    <div class="d-block d-lg-none d-md-none">
        <swiper [slidesPerView]="3" [navigation]="true" [scrollbar]="{ draggable: true }" [spaceBetween]="5"
            [virtual]="true">
            <ng-container *ngFor="let data of mostRatedMovie.results; index as i">
                <ng-template swiperSlide>
                    <div class="listing-item-style" routerLink="/detail/movie/{{data.id}}">
                        <div class="overlay">
                            <div class="hover"><i class="fa fa-play"></i>&nbsp;&nbsp;PLAY NOW</div>
                        </div>
                        <img src="{{imgUrl}}{{data.poster_path}}" (load)="data.loaded = true" [hidden]="!data.loaded">
                        <h6>{{ data?.original_name ? data?.original_name : data?.original_title}}</h6>
                        <p class="rate"><i class="fa fa-star" style="color:#dcf836">
                                star</i><span>{{data?.vote_average}}</span>/10</p>
                        <p class="year"><span>{{data?.first_air_date | date: 'yyyy'}}</span>
                            <ng-container *ngIf="!data.loaded">
                                <app-skeleton [skeleton]="'single-poster'"></app-skeleton>
                            </ng-container>
                    </div>
                </ng-template>
            </ng-container>
        </swiper>
    </div>
    <div class="d-none d-lg-block d-md-block">
        <swiper [slidesPerView]="8" [navigation]="true" [scrollbar]="{ draggable: true }" [spaceBetween]="5"
            [virtual]="true">
            <ng-container *ngFor="let data of mostRatedMovie.results; index as i">
                <ng-template swiperSlide>
                    <div class="listing-item-style" routerLink="/detail/movie/{{data.id}}">
                        <div class="overlay">
                            <div class="hover"><i class="fa fa-play"></i>&nbsp;&nbsp;PLAY NOW</div>
                        </div>
                        <img src="{{imgUrl}}{{data.poster_path}}" (load)="data.loaded = true" [hidden]="!data.loaded">
                        <h6>{{ data?.original_name ? data?.original_name : data?.original_title}}</h6>
                        <p class="rate"><i class="fa fa-star" style="color:#dcf836">
                                star</i><span>{{data?.vote_average}}</span>/10</p>
                        <p class="year"><span>{{data?.first_air_date | date: 'yyyy'}}</span>
                            <ng-container *ngIf="!data.loaded">
                                <app-skeleton [skeleton]="'single-poster'"></app-skeleton>
                            </ng-container>
                    </div>
                </ng-template>
            </ng-container>
        </swiper>
    </div>
</div>

<div class="container-fluid my-5">
    <div class="row py-0">
        <div class="col-8 text-left">
            <p class="seaction-heading m-0">
                Popular TV Shoes
            </p>
        </div>
        <div class="col-4 text-right">
            <a class="seaction-link" routerLink="/media/popularTv">MORE</a>
        </div>
    </div>
    <!-- <div class="row">
        <div class="items px-2">
            <div class="item" *ngFor="let data of popularTv.results" routerLink="detail/tv/{{data.id}}">
                <div class="listing-item-style">
                    <div class="overlay">
                        <div class="hover"><i class="fa fa-play"></i>&nbsp;&nbsp;PLAY NOW</div>
                    </div>
                    <img src="{{imgUrl}}{{data.poster_path}}" (load)="data.loaded = true" [hidden]="!data.loaded">
                    <h6>{{ data?.original_name ? data?.original_name : data?.name}}</h6>
                    <p class="rate"><i class="fa fa-star" style="color:#dcf836">
                            star</i><span>{{data?.vote_average}}</span>/10</p>
                    <p class="year"><span>{{data?.first_air_date | date: 'yyyy'}}</span>
                        <ng-container *ngIf="!data.loaded">
                            <app-skeleton [skeleton]="'single-poster'"></app-skeleton>
                        </ng-container>
                </div>
            </div>
        </div>
        <ng-container *ngIf="popularTv.length==0">
            <app-skeleton [skeleton]="'poster'"></app-skeleton>
        </ng-container>
    </div> -->
    <div class="d-block d-lg-none d-md-none">
        <swiper [slidesPerView]="3" [navigation]="true" [scrollbar]="{ draggable: true }" [spaceBetween]="5"
            [virtual]="true">
            <ng-container *ngFor="let data of popularTv.results; index as i">
                <ng-template swiperSlide>
                    <div class="listing-item-style" routerLink="/detail/tv/{{data.id}}">
                        <div class="overlay">
                            <div class="hover"><i class="fa fa-play"></i>&nbsp;&nbsp;PLAY NOW</div>
                        </div>
                        <img src="{{imgUrl}}{{data.poster_path}}" (load)="data.loaded = true" [hidden]="!data.loaded">
                        <h6>{{ data?.original_name ? data?.original_name : data?.name}}</h6>
                        <p class="rate"><i class="fa fa-star" style="color:#dcf836">
                                star</i><span>{{data?.vote_average}}</span>/10</p>
                        <p class="year"><span>{{data?.first_air_date | date: 'yyyy'}}</span>
                            <ng-container *ngIf="!data.loaded">
                                <app-skeleton [skeleton]="'single-poster'"></app-skeleton>
                            </ng-container>
                    </div>
                </ng-template>
            </ng-container>
        </swiper>
    </div>
    <div class="d-none d-lg-block d-md-block">
        <swiper [slidesPerView]="8" [navigation]="true" [scrollbar]="{ draggable: true }" [spaceBetween]="5"
            [virtual]="true">
            <ng-container *ngFor="let data of popularTv.results; index as i">
                <ng-template swiperSlide>
                    <div class="listing-item-style" routerLink="/detail/tv/{{data.id}}">
                        <div class="overlay">
                            <div class="hover"><i class="fa fa-play"></i>&nbsp;&nbsp;PLAY NOW</div>
                        </div>
                        <img src="{{imgUrl}}{{data.poster_path}}" (load)="data.loaded = true" [hidden]="!data.loaded">
                        <h6>{{ data?.original_name ? data?.original_name : data?.name}}</h6>
                        <p class="rate"><i class="fa fa-star" style="color:#dcf836">
                                star</i><span>{{data?.vote_average}}</span>/10</p>
                        <p class="year"><span>{{data?.first_air_date | date: 'yyyy'}}</span>
                            <ng-container *ngIf="!data.loaded">
                                <app-skeleton [skeleton]="'single-poster'"></app-skeleton>
                            </ng-container>
                    </div>
                </ng-template>
            </ng-container>
        </swiper>
    </div>
</div>

<div class="container-fluid my-5" *ngIf="authService.getUid()">
    <div class="row py-0">
        <div class="col-8 text-left">
            <p class="seaction-heading m-0">
                Most Rated TV
            </p>
        </div>
        <div class="col-4 text-right">
            <a class="seaction-link" routerLink="/media/mostReatedTv">MORE</a>
        </div>
    </div>
    <!-- <div class="row">
        <div class="items px-2">
            <div class="item" *ngFor="let tv of mostRatedTv.results" routerLink="/detail/mostReatedTv/{{tv.id}}">
                <div class="listing-item-style">
                    <div class="overlay">
                        <div class="hover"><i class="fa fa-play"></i>&nbsp;&nbsp;PLAY NOW</div>
                    </div>
                    <img src="{{imgUrl}}{{tv.poster_path}}" (load)="tv.loaded = true" [hidden]="!tv.loaded">
                    <h6>{{ tv?.original_name }}</h6>
                    <p class="rate"><i class="fa fa-star" style="color:#dcf836">
                            star</i><span>{{tv?.vote_average}}</span>/10</p>
                    <p class="year"><span>{{tv?.first_air_date | date: 'yyyy'}}</span>
                </div>
                <ng-container *ngIf="!tv.loaded">
                    <app-skeleton [skeleton]="'single-poster'"></app-skeleton>
                </ng-container>
            </div>
        </div>
        <ng-container *ngIf="mostRatedTv.loaded==0">
            <app-skeleton [skeleton]="'poster'"></app-skeleton>
        </ng-container>
    </div> -->
    <div class="d-block d-lg-none d-md-none">
        <swiper [slidesPerView]="3" [navigation]="true" [scrollbar]="{ draggable: true }" [spaceBetween]="5"
            [virtual]="true">
            <ng-container *ngFor="let data of mostRatedTv.results; index as i">
                <ng-template swiperSlide>
                    <div class="listing-item-style" routerLink="/detail/mostReatedTv/{{data.id}}">
                        <div class="overlay">
                            <div class="hover"><i class="fa fa-play"></i>&nbsp;&nbsp;PLAY NOW</div>
                        </div>
                        <img src="{{imgUrl}}{{data.poster_path}}" (load)="data.loaded = true" [hidden]="!data.loaded">
                        <h6>{{ data?.original_name ? data?.original_name : data?.name}}</h6>
                        <p class="rate"><i class="fa fa-star" style="color:#dcf836">
                                star</i><span>{{data?.vote_average}}</span>/10</p>
                        <p class="year"><span>{{data?.first_air_date | date: 'yyyy'}}</span>
                            <ng-container *ngIf="!data.loaded">
                                <app-skeleton [skeleton]="'single-poster'"></app-skeleton>
                            </ng-container>
                    </div>
                </ng-template>
            </ng-container>
        </swiper>
    </div>
    <div class="d-none d-lg-block d-md-block">
        <swiper [slidesPerView]="8" [navigation]="true" [scrollbar]="{ draggable: true }" [spaceBetween]="5"
            [virtual]="true">
            <ng-container *ngFor="let data of mostRatedTv.results; index as i">
                <ng-template swiperSlide>
                    <div class="listing-item-style" routerLink="/detail/mostReatedTv/{{data.id}}">
                        <div class="overlay">
                            <div class="hover"><i class="fa fa-play"></i>&nbsp;&nbsp;PLAY NOW</div>
                        </div>
                        <img src="{{imgUrl}}{{data.poster_path}}" (load)="data.loaded = true" [hidden]="!data.loaded">
                        <h6>{{ data?.original_name ? data?.original_name : data?.name}}</h6>
                        <p class="rate"><i class="fa fa-star" style="color:#dcf836">
                                star</i><span>{{data?.vote_average}}</span>/10</p>
                        <p class="year"><span>{{data?.first_air_date | date: 'yyyy'}}</span>
                            <ng-container *ngIf="!data.loaded">
                                <app-skeleton [skeleton]="'single-poster'"></app-skeleton>
                            </ng-container>
                    </div>
                </ng-template>
            </ng-container>
        </swiper>
    </div>
</div>
<br><br>
<app-tab></app-tab>