<!-- <form #forgotPasswordForm="ngForm" (ngSubmit)="onSubmit(forgotPasswordForm)">
    <input type="email" name="email" placeholder="Enter Email" ngModel required>
    <div class="col-12 text-center my-3">
        <button [disabled]="forgotPasswordForm.invalid" type="submit" color="primary">Reset</button>
    </div>
    <div class="col-12 text-center mb-3">
        <a class="text-secondary text-decoration-none" routerLink="/auth">Signin</a> <br>
    </div>
</form> -->
<div class="sign-in">
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="pnl-manager">
                        <div class="login-container">
                            <div class="heading"><span class="heading-text">Reset your password</span><br><span
                                    class="subheading-text"></span><br></div>
                            <div class="phone-number-container">
                                <div class="phone-input">
                                    <div class="form-group material-input">
                                        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                                            <input type="email" name="email" class="form-control"
                                                placeholder="Enter Your Email" ngModel required>
                                            <button type="submit" class="submit-button mt-2">
                                                Continue
                                                <i class="fa fa-angle-right"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center my-1">
                    <span class="auth-link">
                        <a routerLink="/auth">Signin</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>