/* You can add global styles to this file, and also import other style files */
@import '~swiper/swiper-bundle';

:root {
    --primary: #0C111B;
    --primary-contrast: #fff;
    --secondary: #192133;
    --secondary-contrast: rgba(255, 255, 255, 0.8);
}

body {
    background-color: var(--primary);
}

.text-secondary {
    color: var(--secondary-contrast) !important;
}

.bg-primary {
    background-color: var(--primary) !important;
    color: var(--primary-contrast) !important;
}

.items {
    display: flex;
    overflow-x: auto;
}

.items:-webkit-scrollbar {
    display: none;
}

.items .item {
    min-width: 120px;
    text-align: center;
    border-radius: 5px;
    padding: 4px;
}

.items .item img {
    width: 100%;
    align-items: center;
    border-radius: 5px;
}

.items .thumbnail-container {
    min-width: 160px;
    text-align: center;
    border-radius: 5px;
    padding: 4px;
}

.items .thumbnail-container img {
    width: 100%;
    align-items: center;
    border-radius: 5px;
}

.seaction-heading {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

.seaction-link {
    font-size: 12px;
    color: #1f80e0 !important;
    font-weight: 500;
}

i {
    color: var(--secondary-contrast);
}

/****************************************** Skeleton loader **************************************/
.p-skeleton-wrapper {
    flex-direction: column;
    width: 100%;
    display: flex;
}

.p-skeleton-wrapper .p-skeleton:nth-child(2) {
    margin-top: 29px;
}

.p-skeleton {
    position: relative;
    overflow: hidden;
    background: transparent;
    width: 100%;
    // height: 530px;
    // border: 1px solid #e6e6e6;
    // border-radius: 8px 8px 16px 16px;
    display: flex;
    flex-direction: column;
}

.p-skeleton::before {
    content: "";
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(0.25turn, transparent, var(--primary), transparent);
    pointer-events: none;
    opacity: 0.8;
    animation: skeleton-animation 2s infinite;
    z-index: 1;
}

@-webkit-keyframes skeleton-animation {
    from {
        left: -150px;
    }

    to {
        left: 100%;
    }
}

@-moz-keyframes skeleton-animation {
    from {
        left: -150px;
    }

    to {
        left: 100%;
    }
}

@-ms-keyframes skeleton-animation {
    from {
        left: -150px;
    }

    to {
        left: 100%;
    }
}

@-o-keyframes skeleton-animation {
    from {
        left: -150px;
    }

    to {
        left: 100%;
    }
}

@keyframes skeleton-animation {
    from {
        left: -150px;
    }

    to {
        left: 100%;
    }
}

/* header */
.p-skeleton__header {
    height: 109px;
    // border-bottom: 1px dashed #192133;
}

.p-skeleton__header--dots {
    top: 45px;
    position: absolute;
    right: 37px;
}

.p-skeleton__header--circle {
    background: #192133;
    height: 44px;
    position: absolute;
    width: 44px;
    top: 29px;
    border-radius: 50%;
    left: 27px;
}

/* body */
.p-skeleton__body {
    // padding: 0 27px;
}

.p-skeleton__body .p-skeleton__spacer-top {
    margin-top: 62px;
}

.p-skeleton__body--r-tags {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 29px;
}

.p-skeleton__body--r-tags-outer {
    border: 1px solid #192133;
    height: 40px;
    margin-right: 14px;
    position: relative;
    border-radius: 2px;
}

.p-skeleton__body--r-tags .p-skeleton__body--r-tags-outer:nth-child(1) {
    width: 126px;
}

.p-skeleton__body--r-tags .p-skeleton__body--r-tags-outer:nth-child(2) {
    width: 177px;
}

.p-skeleton__body--r-tags .p-skeleton__body--r-tags-inner {
    left: 16px;
    right: 16px;
}

.p-skeleton__body--r-tags-inner {
    border: 1px solid #192133;
    background: #192133;
    height: 21px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 10px;
    right: 0;
}

.p-skeleton__body--r-title {
    max-width: 420px;
    height: 36px;
    background: #192133;
    margin-top: 23px;
}

.p-skeleton__body--r-banner {
    max-width: 100%;
    min-height: 200px;
    background: #192133;
}

.p-skeleton__body--r-all-media {
    max-width: 100%;
    min-height: 90px;
    background: #192133;
}

.p-skeleton__body--r-image {
    max-width: 100%;
    height: 150px;
    background: #192133;
}

.p-skeleton__body--r-poster {
    max-width: 120px;
    min-height: 165px;
    background: #192133;
}

.p-skeleton__body--r-gallery {
    max-width: 100%;
    height: 200px;
    border-radius: 25px;
    background: #192133;
}

.p-skeleton__body--r-text>div {
    margin-top: 14px;
    background: #e6e6e6;
    height: 21px;
}

.p-skeleton__body--r-s {
    width: 181px;
}

.p-skeleton__body--r-full,
.p-skeleton__body--r-full {
    width: 100%;
}

.p-skeleton__body--r-m {
    width: 212px;
}

/* footer */
.p-skeleton__separator {
    border-bottom: 1px dashed #e6e6e6;
    margin: 45px 16px 16px 16px;
}

.p-skeleton__footer {
    background: #f5f5f5;
    border-radius: 12px;
    height: 65px;
}

.swal2-styled.swal2-confirm {
    background-color: var(--primary) !important;
    color: var(--primary-contrast) !important;
    display: inline-block !important;
    font-size: var(--primary-font) !important;
    font-weight: 600 !important;
    line-height: 1 !important;
    padding: 10px 20px !important;
    border-radius: none;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
    cursor: pointer;

    &:focus {
        outline: 0;
        box-shadow: none;
    }
}

.shadow {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
}

.btn-primary:disabled {
    opacity: 0.5;
}

.blank_img {
    background: #c4c4c4;
    height: 100%;
    width: 100%;
    border-radius: none;
}

//------------------------------------------ auth css -------------------------------------//
.sign-in {
    min-height: calc(100vh - 146px);
}

.sign-in .content-wrapper {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 100vh;
}

.sign-in .content-wrapper .container {
    padding: 0 0 10px;
}

.pnl-manager {
    min-width: 290px;
    max-width: 405px;
    margin: 0 auto;
    overflow: hidden;
}

.login-container {
    width: 100%;
}

.login-container .heading {
    margin-top: 80px;
    margin-bottom: 36px;
}

.login-container .heading .heading-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    color: var(--primary-contrast);
}

.login-container .heading .subheading-text {
    font-size: 14px;
    font-weight: normal;
}

.login-container .phone-number-container .phone-input {
    display: flex;
}

.country-code {
    border-right-color: var(--BG_COLOR_L2);
}

.login-container .phone-number-container .phone-input .country-code {
    height: 20px;
    margin-right: -38px;
    margin-top: 10px;
    padding-right: 9px;
    padding-top: 5px;
    font-size: 16px;
    color: var(--secondary-contrast);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    line-height: 0.6;
}

.login-container .phone-number-container .phone-input .material-input {
    width: 100%;
}

.login-container .phone-number-container .phone-input .material-input .form-control,
.login-container .phone-number-container .phone-input .material-input .input-label {
    // padding-left: 50px;
    width: 100%;
}

.form-group.material-input .form-control {
    padding: 0;
}

.form-group .form-control {
    padding: 0;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #1f80e0;
    font-size: 16px;
    margin-bottom: 0;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    -webkit-transition: border-bottom 0.3s ease-in;
    -o-transition: border-bottom 0.3s ease-in;
    transition: border-bottom 0.3s ease-in;
}

input[type="text"],
input[type="email"],
input[type="text"],
input[type="number"],
input[type="search"],
input[type="password"] {
    border: 1px solid #334366;
    color: var(--secondary-contrast) !important;
    // background-color: var(--BG_COLOR_L1);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 5px;
    height: 40px;
}

button,
input,
optgroup,
select,
textarea {
    font-family: "Roboto", "HelveticaNeue-Light", sans-serif;
}

.pnl-manager .submit-button {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    padding: 15px 18px 15px;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    background: #1f80e0;
    border: none;
    outline: 0;
    outline-color: transparent;
    position: relative;
    outline: none !important;
    width: 100%;
    height: 49px;
    padding: 15px 18px 15px;
}

.submit-button {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    padding: 15px 18px 15px;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    background: #1f80e0;
    border: none;
    outline: 0;
    outline-color: transparent;
    position: relative;
    outline: none !important;
    width: 100%;
    height: 49px;
    padding: 15px 18px 15px;
}


.pnl-manager button {
    color: var;
    background-color: transparent;
    border: none;
    padding: 0;
    outline: 0;
}

.login-container .phone-number-container .attest-message {
    margin-top: 10px;
    font-size: 11px !important;
}

.login-container .phone-number-container .attest-message .attest-message-text {
    color: #919191;
    font-size: 11px !important;
}

.auth-link {
    font-size: 12px !important;
    color: #1f80e0;
}

.form-check-label {
    color: #919191;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: var(--primary);
    color: var(--secondary-contrast);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #1f80e0;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: var(--secondary-contrast);
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.toast {
    position: fixed!important;
    bottom: 0!important;
    width: 100%;
    min-height: 50px;
    background-color: white!important;
    padding: 20px 25px!important;
    color: var(--primary-contrast)!important;
    box-shadow: 0 0 7px 0 rgb(0 0 0 / 25%)!important;
    z-index: 999!important;
}