<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <input type="email" name="email" placeholder="Enter Email" ngModel required>
    <input type="password" name="password" placeholder="Enter password" ngModel required>
    <div class="col-12 text-center my-3">
        <button [disabled]="loginForm.invalid" type="submit" color="primary">Signin</button>
    </div>
    <div class="col-12 text-center mb-3">
        <a class="text-secondary text-decoration-none" routerLink="/auth/register">Create Account</a> <br>
        <a class="text-secondary text-decoration-none" routerLink="/auth/forgot-password">Forgot Password?</a>
    </div>
</form>